@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Blanka Regular";
    font-style: normal;
    font-weight: normal;
    src: url("/src/Fonts/Blanka-Regular.otf") format("opentype");
  }
}
@keyframes marquee {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

/* Global CSS for smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Reset default margins and ensure full height */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Optional: Improve scrolling performance */
* {
  -webkit-overflow-scrolling: touch;
  scroll-padding-top: 0px;
}

/* Optional: Style for a "Back to Top" button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Hidden by default */
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.back-to-top.visible {
  display: block;
}
